a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

/*header-up*/

.header-up {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 30px;
}


.logo {
	margin-right: 15px;
}

.header-up-cabinet {
	margin-left: auto;
}

/*header-down*/

.header-down {
	display: flex;
}
.nav-list {
	display: flex;
}

.header-down-button {
	margin-left: auto;
}

.header-down-btn {
	margin-left: auto;
	align-self: center;
	text-align: center;
	min-width: 50px ;
	min-height: 25px ;
	max-width: 150px;
}

.nav-item:not(:last-child) {
	margin-right: 15px;
}

/*special-offers*/

.headline-title{
	margin: 30px 0 40px 0;
}

.special-offers-info {
	margin: 0 0 20px 0;
}
 .card {
 	margin-bottom: 20px;
 }

.special-offers {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.special-offers-list {
	width: 585px;
}

.card {
	width: 100%;
}


/*about-us*/

.about-us-title {
	margin: 0 0 20px 0;
}

.about-us-text {
	display: block;
	text-align: justify;
	margin: 0;
}

/*services*/

.services-title {
	margin: 20px 0 30px 0;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
}

.services-item{
	width: 573px;
}

.services-item:nth-child(odd) {
	margin-right: 23px;
}

.services-item:nth-child(1) {
margin-bottom: 23px;
}

.services-item:nth-child(2) {
margin-bottom: 23px;
}

.services-link-title {
	margin: 0 0 20px 0;
}

.services-text {
	margin: 0;
}

/*advantages*/

.advantages-title {
	margin: 30px 0;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-item {
	width: 275px;
	margin-bottom: 23px;
}

.advanteges-item-margin {
	margin-right: 23px;
}

.advantages-text {
	margin: 0;
}

/*hotels*/

.placing-title {
	margin: 20px 0;
}

.hotel-list {
	display: flex;
	flex-wrap: wrap;
}

.hotel-item {
	flex: 0 0 33.33%;
	padding: 0 10px 10px 0;
}

.hotel-location {
	margin-bottom: 20px;
}
