@font-face {
  font-family: 'MullerBold';
  font-style: normal;
  src: local(''),
  		 url('fonts/MullerBold/MullerBold.woff2') format('woff2'),
  		 url(fonts/MullerBold/MullerBold.woff) format('woff');
}

@font-face {
  font-family: 'MullerLight';
  font-style: normal;
  src: local(''),
  		 url('fonts/MullerLight/MullerLight.woff2') format('woff2'),
  		 url(fonts/MullerLight/MullerLight.woff) format('woff');
}

@font-face {
  font-family: 'MullerRegular';
  font-style: normal;
  src: local(''),
  		 url('fonts/MullerRegular/MullerRegular.woff2') format('woff2'),
  		 url(fonts/MullerRegular/MullerRegular.woff) format('woff');
}

@font-face {
  font-family: 'MullerMedium';
  font-style: normal;
  src: local(''),
  		 url('fonts/MullerMedium/MullerMedium.woff2') format('woff2'),
  		 url(fonts/MullerMedium/MullerMedium.woff) format('woff');
}

* {
	box-sizing: border-box;
}

body {
	background: #E5E5E5;
	font-family: 'MullerRegular';
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

/*header-up*/

.header-up {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 30px;
	margin-top: 30px;
}

.logo {
	margin-right: 15px;
}

.logo-img {
	border-radius: 15px;
}

.header-up-cabinet {
	margin-left: auto;
	color: #CC9933;
}

.header-up-call {
	color: #666;
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;

}

/*header-down*/

.header-down {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70px;
	margin-bottom: 70px;
	background-color: #fff;
	border-radius: 15px;
	padding: 0 45px;
}

.nav {
	padding-right: 56px;
	border-right: 1px solid #e1e1e1;

}

.nav-list {
	display: flex;
	padding: 0;
	margin: 0;
}

.nav-item {
	font-size: 16px;
	line-height: 16px;
}

.nav-link {
	color: #333;
}

.nav-item:not(:last-child) {
	margin-right: 45px;
}

.header-down-button {
	margin-left: 57px;
}

.header-down-btn {
	margin-left: auto;
	text-align: center;
	color: #CC9933;
	background-color: #fff;
	border: 1px solid #CC9933;
	border-radius: 10px;
	padding: 13px 20px;
	font-size: 16px;
	cursor: pointer;
}

.header-down-btn:not(:last-child) {
	margin-right: 40px;
}

/*special-offers*/

.section-special-offers {
	margin-bottom: 70px;
}

.headline-title{
	margin-left: 40px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #333;
}

.special-offers {
	display: flex;
	justify-content: space-between;
}

.special-offers-list {
	width: 585px;
}

.card {
	border-radius: 15px;
	padding-top: 40px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
}

.special-offers-card-1 {
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(img/spec_1.jpg);
	width: 573px;
	min-height: 258px;
	margin-bottom: 23px;
	margin-right: 23px;
}

.special-offers-card-2 {
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(img/spec_2.jpg);
	width: 573px;
	min-height: 258px;
	margin-right: 23px;
}

.special-offers-card-3{
	width: 573px;
	min-height: 540px;
	background-image: url(img/spec_3.jpg);
}

.special-offers-info-1 {
	width: 299px;
	min-height: 80px;
	margin: 0 0 15px 0;
	line-height: 40px;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	color: #fff;
}

.special-offers-price-1 {
	width: 119px;
	min-height: 20px;
	margin: 0 0 47px 0;
	font-size: 20px;
	line-height: 20px;
	font-family: 'MullerLight';
	color: #fff;
	opacity: 0.8;
}

.special-offers-more-1 {
	width: 103px;
	min-height: 16px;
	color: #FFCC66;
	font-size: 16px;
	line-height: 16px;
}

.svg-more {
	transform: translateY(5px);
	margin-left: 5px;
}

.special-offers-info-2 {
	width: 299px;
	min-height: 80px;
	line-height: 40px;
	margin: 0 0 15px 0;
	font-size: 40px;
	font-weight: bold;
	font-style: normal;
	color: #fff;
}

.special-offers-price-2 {
	width: 122px;
	min-height: 20px;
	margin: 0 0 47px 0;
	font-size: 20px;
	line-height: 20px;
	font-family: 'MullerLight';
	color: #fff;
	opacity: 0.8;
}

.special-offers-more-2 {
	width: 103px;
	min-height: 16px;
	color: #FFCC66;
	font-size: 16px;
	line-height: 16px;
}

.special-offers-info-3 {
	width: 299px;
	min-height: 180px;
	margin: 171px 0 15px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
}

.special-offers-price-3 {
	width: 154px;
	min-height: 30px;
	margin: 0 0 47px 0;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	opacity: 0.8;
	font-family: 'MullerLight';
}

.special-offers-more-3 {
	width: 103px;
	min-height: 16px;
	color: #FFCC66;
	font-size: 16px;
	line-height: 16px;
}

/*about-us*/

.section-about-us {
	margin-bottom: 70px;
}

.about-us-title {
	margin: 0 0 11px 40px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #333;
}

.about-us-text {
	width: 888px;
	font-size: 16px;
	line-height: 200%;
	min-height: 180px;
	margin-bottom: 70px;
}

/*services*/

.section-services {
	margin-bottom: 70px;
}

.services-title {
	margin: 0 0 20px 40px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #333;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.services-item {
	padding: 191px 0 0 45px;
	border-radius: 15px 15px 0 0;
	width: 573px;
	min-height: 330px;
}

.services-item-img-1 {
	background: no-repeat url(img/10.jpg), #fff;
	background-size: 100%;
}

.services-item-img-2 {
	background: no-repeat url(img/15.jpg), #fff;
	background-size: 100%;
}

.services-item-img-3 {
	background: no-repeat url(img/12.jpg), #fff;
	background-size: 100%;
}

.services-item-img-4 {
	background: no-repeat url(img/16.jpg), #fff;
	background-size: 100%;
}

.services-img {
	border-radius: 15px 15px 0 0;
}
.services-item:nth-child(odd) {
	margin-right: 23px;
}

.services-item:nth-child(1) {
	margin-bottom: 23px;
}

.services-item:nth-child(2) {
	margin-bottom: 23px;
}

.services-link {
	display: inline-block;
	margin: 0;
}

.services-link-title {
	margin: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 200%;
	color: #FFCC66;
}

.services-line-svg {
	transform: translateY(4px);
	margin-left: 5px;
}

.services-text {
	margin: 0;
	width: 402px;
	min-height: 51px;
	font-size: 16px;
	line-height: 200%;
}

/*advantages*/

.section-advantages {
	margin-bottom: 70px;
}

.advantages-title {
	margin: 0 0 30px 40px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #333;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.advantages-item {
	width: 275px;
	min-height: 275px;
	background-color: #fff;
	margin-bottom: 23px;
	border-radius: 15px;
}

.advanteges-img {
	margin: 40px 0 10px 45px;
}

.advanteges-item-margin {
	margin-right: 23px;
}

.advantages-text {
	width: 188px;
	min-height: 118px;
	margin-left: 45px;
	font-size: 16px;
	line-height: 32px;
}

/*hotels*/

.section-placing {
	margin-bottom: 70px;
}

.placing-title {
	margin: 0 0 30px 40px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	color: #333;
}

.hotel-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.hotel-item {
	width: 374px;
	min-height: 440px;
	background-color: #fff;
	border-radius: 15px;
	margin-bottom: 23px;
}

.hotel-margin {
	margin: 0 23px 23px 23px;
}

.hotel-img {
	width: 374px;
	height: 217px;
	border-radius: 15px 15px 0 0;
}

.hotel-item-big {
	background: url(img/41.jpg);
	border-radius: 15px;
	background-repeat: no-repeat;
}

.hotel-price, .stars-img {
	display: inline-block;
}

.hotel-price {
	margin: 36px 44px 16px 45px;
}

.hotel-price-ot {
	color: #999;
}

.hotel-price-digit {
	font-weight: bold;
}

.hotel-description {
	margin: 0 0 16px 45px;
	font-size: 16px;
	line-height: 16px;
}

.hotel-location {
	margin: 0 0 20px 45px;
	color: #999;
	font-size: 16px;
	line-height: 16px;
}

.hotel-rooms-btn {
	text-align: center;
	color: #CC9933;
	background-color: #fff;
	border: 1px solid #CC9933;
	border-radius: 10px;
	padding: 13px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 45px;
}

.hotel-options {
	position: absolute;
	margin: 373px 69px 27px 54px;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	color: #fff;
}

.hotel-options-svg {
	transform: translateY(4px);
	margin-left: 5px;
}